<ion-view>
 <ion-nav-title>
		<h4>Favorites</h4>
 </ion-nav-title>
 <ion-nav-buttons side='right'><button class="button faves" ng-click="go_faves()">Faves</button></ion-nav-buttons> 
 <ion-content>
 <div class ='row'ng-if='!total' >
	You have not added any properties to your favourites!
 </div>
 <div ng-if='total'>
 <div class ='row'>
	<p class = "col"><span>{{start}}</span> of <span>{{ total }}</span></p>
 </div>
			<ion-list>
			  <ion-item ng-repeat="item in properties" item="item"
			   href="#/property/{{item.guid}}" class="item-thumbnail-left"
			  >
					<img src="{{item.thumb_url}}">
					<h2>&pound; {{ item.price }}</h2>
					<p>{{ item.title }}</p>
			  </ion-item>
			</ion-list>
			<button ng-show="more" ng-click="next()" class="button button-full button-light">
			  Load more … Results 
			</button>
</div>			
  </ion-content>	
</ion-view>