<ion-view>
 <ion-nav-title>
		<h4><span>Favorities</span></h4>
 </ion-nav-title>
 <ion-nav-buttons side='right'></ion-nav-buttons> 
 <ion-content>
 <div class ='row'>
	<h4 ng-show="errShow">{{err}}</h4>
 </div>
			<ion-list>
			  <ion-item ng-repeat="item in properties" item="item"
			   href="#/property/{{item.guid}}" class="item-thumbnail-left" >
					<img src="{{item.thumb_url}}">
					<h2>{{ item.price }}</h2>
					<p>{{ item.title }}</p>
			  </ion-item>
			</ion-list>
  </ion-content>	
</ion-view>