<ion-view cache-view="false" >
 <ion-nav-title>
		<h4>Property Cross</h4>
 </ion-nav-title>
 <ion-nav-buttons side='right'><button class="button faves" ng-click="go_faves()">Faves</button></ion-nav-buttons> 
 <ion-content>
	 <div class ='row'>
	 <p class = "col">Use the form below to search for houses to buy. You can search by place-name,
		postcode, or click 'My location', to search in your current location!</p>
	</div>
	<div class="list list-inset home-search">
	  <label class="item item-input small-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input ng-enter='go(search)' data-ng-model="search" type="text" placeholder="Search">
	  </label>
	</div>
	<div class="list list-inset middle-up">
		  <button ng-click='go(search)' class="button button-light button-small">Go</button>
		  <button ng-click='myLocation()' class="button button-light button-small">My Location</button>
	</div>
	
	<div ng-show='showErr' class="err_msg list-inset">
				<h4>{{ errMsg }}</h4>
				<div >
					<ion-list >
					  <ion-item ng-repeat="item in locations" item="item"
							   href="#/item/{{item.place_name}}" ng-click='go(item.place_name)'>
							 Title: {{item.title}}, place: {{ item.place_name }}
					  </ion-item>
					</ion-list>
				</div>	
	</div>	
	<div ng-show='!showErr' class ="list-inset small">
		<p>Recent searches:</p>
		<div class="card small">
			<ion-list >
			  <ion-item ng-repeat="item in ressearches track by $index" item="item"
				ng-click="go_recent(item.place)" >
					 <b>Title: {{item.place}} ({{ item.total }})</b>
			  </ion-item>
			</ion-list>
		</div>	
	</div>	
  </ion-content>	
</ion-view>